.blog {
    overflow: hidden;

    .container {
        padding-bottom: 60px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 70%;
        width: 49px;
        height: 22px;
        color: var(--color-grey);

        @media (max-width: 481px) {
            display: none;
        }
    }
}
