.primary-categories {
    @extend %listreset;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (min-width: 376px) and (max-width: 481px) {        
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
    }

    @media (min-width: 320px) and (max-width: 375px) {      
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    li {
        width: 370px;
        font: italic 300 40px/1 var(--font-family-sans-serif);

        @media (min-width: 376px) and (max-width: 481px) {  
            width: 340px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    
        @media (min-width: 320px) and (max-width: 375px) {
            width: 300px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .primary-category-item {
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
    
        &:hover,
        &:active {
            opacity: 1;

            &:before {
                width: 370px;
                height: 418px;
                transition: linear 250ms;

                @media (min-width: 376px) and (max-width: 481px) {        
                    width: 300px;
                    height: 340px;
                }
            
                @media (min-width: 320px) and (max-width: 375px) {      
                    width: 300px;
                    height: 340px;
                }
            }
        }
        
        &:before {
            content: '';
            width: 309px;
            height: 349px;
            position: absolute;
            border: 3px solid var(--color-white);

            @media (min-width: 376px) and (max-width: 481px) {        
                width: 250px;
                height: 299px;
            }
        
            @media (min-width: 320px) and (max-width: 375px) {      
                width: 250px;
                height: 299px;
            }
        }
        
        span {
            position: absolute;
            right: 0;
            left: 0;
        }
    }
}