.btn {
    margin: 0;
    border: 0;
    background: none;
    display: inline-block;
    line-height: 1;
    
    &-hamburger {
        display: none;
        transition: background-color 250ms linear;
        z-index: 900;

        @media (min-width: 376px) and (max-width: 481px) {
            display: block;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            display: block;
        }
    }
}
