<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
    @@include('../partials/components/header.html')
  <main class="content">
    @@include('../partials/components/banner.html')
    @@include('../partials/components/latest-products.html')
    @@include('../partials/components/trendings.html')
    @@include('../partials/components/blog.html')
    @@include('../partials/components/form.html')
  </main>
    @@include('../partials/components/footer.html')

  @@include('../partials/scripts/common.html')
</body>

</html>
