<section class="blog">
<div class="container">
    <h2 class="section-heading">From The Blog</h2>
    <div class="swiper-container mySwiperArrows">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="container">
                <div class="box-holder-fashion">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/guys-in-masks.png" alt="">
                    </picture>
                    <div class="description-blog">
                        <h3>GERMAN FASHION WIZARDS</h3>
                        <a href="#">By James Steed   |   Fashion</a>
                        <div class="text">
                            <p>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the European fashion scene and this year at Paris Fashion Week they introduced their new collection. </p>
                        </div>
                        <div class="link-blog">
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="box-holder-trending">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/girl-in-glasses.png" alt="">
                    </picture>
                    <div class="description-blog">
                        <h3>ANNE STEWART’S SUNGLASSES</h3>
                        <a href="#">By Marry Beard   |   Trending</a>
                        <div class="text">
                            <p>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</p>
                        </div>
                        <div class="link-blog">
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                <div class="box-holder-fashion">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/girl-in-fashion.png" alt="">
                    </picture>
                    <div class="description-blog">
                        <h3>GERMAN FASHION WIZARDS</h3>
                        <a href="#">By James Steed   |   Fashion</a>
                        <div class="text">
                            <p>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the European fashion scene and this year at Paris Fashion Week they introduced their new collection. </p>
                        </div>
                        <div class="link-blog">
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="box-holder-trending">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/girl-in-trending.png" alt="">
                    </picture>
                    <div class="description-blog">
                        <h3>ANNE STEWART’S SUNGLASSES</h3>
                        <a href="#">By Marry Beard   |   Trending</a>
                        <div class="text">
                            <p>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</p>
                        </div>
                        <div class="link-blog">
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
</section>