<ul class="primary-categories">
    <li>
        <a class="primary-category-item" href="#">
            <span>Men</span>
            <img src="/images/men.png" alt="Men" />
        </a>
    </li>
    <li>
        <a class="primary-category-item" href="#">
            <span>Woman</span>
            <img src="/images/girl.png" alt="Woman" />
        </a>
    </li>
    <li>
        <a class="primary-category-item" href="#">
            <span>Watches</span>
            <img src="/images/watches.png" alt="Watches" />
        </a>
    </li>
</ul>