<div class="swiper-container mySwiperBanner">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
            <picture>
                <source media="(min-width: 375px)">
                <img src="/images/woman.png" alt="">
            </picture>
            <div class="container">
                @@include('../partials/components/holder.html')
            </div>
      </div>
      <div class="swiper-slide">
            <picture>
                <source media="(min-width: 375px)">
                <img src="/images/men-in-costume.png" alt="">
            </picture>
            <div class="container">
                @@include('../partials/components/holder.html')
            </div>
      </div>
      <div class="swiper-slide">
            <picture>
                <source media="(min-width: 375px)">
                <img src="/images/girl-in-coat.png" alt="">
            </picture>
            <div class="container">
                @@include('../partials/components/holder.html')
            </div>
      </div>
      <div class="swiper-slide">
            <picture>
                <source media="(min-width: 375px)">
                <img src="/images/men-on-banner.png" alt="">
            </picture>
            <div class="container">
                @@include('../partials/components/holder.html')
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>