<section class="section trendings">
    <div class="container">
        <h2 class="section-heading">Trending Items</h2>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="container">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/costume.png" alt="">
                    </picture>
                    <div class="description">
                        <h3>NATHAN STEWART JACKET</h3>
                        <a href="#">Summer/Autumn Collection</a>
                        <div class="text">
                            <p>Classic Nathan Stewart Jacket from his latest collection. This item is loved by many just because of it’s simle style. Simple lines,lovely texture,it suits almost everybody. It comes in six different colors,and all sizes.</p>
                            <p>FASHION TIP:</p>
                            <p> With this jacket,Nathan Stewart sunglasses go hand in hand!</p>
                        </div>
                        @@include('../partials/components/btn-items.html')
                        <div class="item-description">
                            <a href="#">SHOP NOW</a>
                            <a href="#">SIZE GUIDE</a>
                        </div>
                    </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-coat.png" alt="">
                    </picture>
                    <div class="container">
                        <div class="description">
                            <h3>JACKET H&M</h3>
                            <a href="#">Summer/Autumn Collection</a>
                            <div class="text">
                                <p>The popular brand began its history in 1934 with the opening of an atelier for tailoring classic clothes for men. Soon her products became known far beyond the borders of Italy, they became recognizable in France, England, Switzerland and even in distant America. Today, brand stores are open in more than 100 countries around the world. His clothes are preferred by men who choose a classic business style.</p>
                            </div>
                            @@include('../partials/components/btn-items.html')
                            <div class="item-description">
                                <a href="#">SHOP NOW</a>
                                <a href="#">SIZE GUIDE</a>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-jacket.png" alt="">
                    </picture>
                    <div class="container">
                        <div class="description">
                            <h3>JACKET COLIN'S</h3>
                            <a href="#">Summer/Autumn Collection</a>
                            <div class="text">
                                <p>Characteristic features of the classic Hugo Boss men's suits are an extended line of shoulders and a narrowed line of hips. Designers were able to create not just business-style clothing, but also add some sexuality to it, which was rarely present in such models. The collections include strict classic suits in traditional dark shades, as well as bright colors with various additional details that make this piece of clothing softer and more familiar to wear in everyday urban life.</p>
                            </div>
                            @@include('../partials/components/btn-items.html')
                            <div class="item-description">
                                <a href="#">SHOP NOW</a>
                                <a href="#">SIZE GUIDE</a>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-sweetshirt.png" alt="">
                    </picture>
                    <div class="container">
                        <div class="description">
                            <h3>JACKET SVTR</h3>
                            <a href="#">Summer/Autumn Collection</a>
                            <div class="text">
                                <p>Brioni simply could not be included in our rating. It is considered the most expensive and prestigious luxury menswear brand in the world. The famous Italian company was founded in 1945 in Rome. Today, clothes of this brand are present in all the wardrobes of the richest and most successful men on the planet. It means status, luxury, unique style and taste. In addition, the men's suit from Brioni is a great investment in your image.</p>
                            </div>
                            @@include('../partials/components/btn-items.html')
                            <div class="item-description">
                                <a href="#">SHOP NOW</a>
                                <a href="#">SIZE GUIDE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>