<section class="section trendings">
    <img class="background" src="/images/bg-img.png" alt="">
    <div class="container">
        <h2 class="section-heading">Trending Items</h2>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="container">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/costume.png" alt="">
                    </picture>
                        @@include('../partials/components/description.html')
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-coat.png" alt="">
                    </picture>
                    <div class="container">
                        @@include('../partials/components/description.html')
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-jacket.png" alt="">
                    </picture>
                    <div class="container">
                        @@include('../partials/components/description.html')
                    </div>
              </div>
              <div class="swiper-slide">
                    <picture>
                        <source media="(min-width: 375px)">
                        <img src="/images/men-in-sweetshirt.png" alt="">
                    </picture>
                    <div class="container">
                        @@include('../partials/components/description.html')
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>